

body{
    margin: 20px;
    background: rgb(167,217,196);
background: linear-gradient(90deg, rgba(167,217,196,1) 0%, rgba(236,255,253,1) 31%, rgba(98,228,255,1) 100%);
}

header{
    margin: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#pic-of-me{
    height:250px;
    width:250px;
    border-radius: 50%;
    object-fit: cover;
    
}

#name{
    font-size: 100px;

}

nav{
    text-decoration: double;
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly; 
}

#section-1, #section-2, #section-3{
    font-size: 30px;
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#snippit, #gitimg{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#link{
    display: flex;
    justify-content: center;
}

#cheatphoto{
    height: auto;
    width: 80%;
    
}

#refrac-img{
    height: auto;
    width: 50%;
}

footer{
    text-align: center;
    font-size: 15px;
}