*{
    margin: 20px;
}

header{
    margin: 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#pic-of-me{
    height:250px;
    width:250px;
    border-radius: 50%;
    object-fit: cover;
    
}

#name{
    font-size: 100px;

}

nav{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#section-1, #section-2, #section-3{
    font-size: 40px;
    height: auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#snippit{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#link{
    display: flex;
    justify-content: center;
}

#cheatphoto{
    height: auto;
    width: 80%;
    
}

footer{
    text-align: center;
    font-size: 15px;
}