*{
    margin: 20px;
}

header{
    margin: 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

figure{

}

#name{
    font-size: 100px;

}

nav{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#section-1{
    font-size: 40px;
    height: auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#snippit-photo {
    display: flex;
    flex-direction: column;

}

#section-2{
    font-size: 40px;
    height: auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#section-3{
    font-size: 40px;
    height: auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    text-align: center;
    font-size: 15px;
}