body{
    margin: 20px;
    background: rgb(167,217,196);
    background: linear-gradient(90deg, rgba(167,217,196,1) 0%, rgba(236,255,253,1) 31%, rgba(98,228,255,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    margin: 40px;
    padding: 5px;
    display: flex;
}

#pic-of-me{
    height:250px;
    width:250px;
    border-radius: 50%;
    object-fit: cover;
    
}

#name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;

}

nav{
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly; 
}

ul{
    height: auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;

}


a{
    text-decoration: none;
}


li a:hover{
    font-weight: bolder;
    background: wheat;
    color: rgb(74, 48, 0);
    
}

li a{
    
    margin: 3px;
    background: navy;
    color: bisque;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10%;
    
    
}


#section-1, #section-2, #section-3{
    margin: 10px;
    border: 10px solid navy;
    background-color: whitesmoke;
    border-radius: 5%;
    font-size: 30px;
    height: auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-1:hover ,#section-2:hover, #section-3:hover{
    background: rgb(255,251,135);
background: linear-gradient(0deg, rgba(255,251,135,1) 0%, rgba(255,254,156,0) 100%);
}


#snippit, #gitimg{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#link{
    display: flex;
    justify-content: center;
}

#cheatphoto{
    height: auto;
    width: 80%;
    
}

#refrac-img{
    height: auto;
    width: 50%;
}

footer{
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width:768px) {
    body{
        font-size: 100%;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center
    }

    #name{
        font-size: 30px;
    }
    
    ul{
        flex-direction: column;
        align-items: center;
    }

    li{
        padding: 13px;
        width: 100%;
    }

    #section-1, #section-2, #section-3{
        width: 80%;
        font-size: larger;
    }

    
}